* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Light.ttf);
    font-display: block;
    font-weight: 300;
}

@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Regular.ttf);
    font-display: block;
    font-weight: 400;

}

@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Medium.ttf);
    font-display: block;
    font-weight: 500;
}
@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-display: block;
    font-weight: 600;
}



body {

    font-family: "poppins";
}

.hero-bg-text{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #B1B1B1;
    -webkit-text-stroke-width: 0.05208333333vw;
    text-transform: capitalize;
}
.our-goal-bg-text{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #B1B1B1;
    -webkit-text-stroke-width: 0.02604166666vw;
    text-transform: uppercase;
    opacity: 0.57
}

textarea::-webkit-scrollbar{
    width: 0px;
}



.Send:hover #Path_3,
.Send:hover #Path_2{
    stroke: #fff;
    transition: all .5s ease-in-out;

}
.Send:hover svg,
.shop:hover.shop img
{
    transform: translateX(1.04166666667vw);
    transition: all .5s ease-in-out;

}




